<launch>

  <arg name="world_file" default="pioneer_world.world"/>

  <arg name="robot_file"
       default="/home/ubuntu/robots/pioneer3at.urdf"/>

  <arg name="gui"
       default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="world_name"
         value="/home/ubuntu/worlds/$(arg world_file)"/>

    <arg name="paused"
         value="false"/>

    <arg name="gui"
         value="$(arg gui)"/>

    <arg name="verbose"
         value="true"/>

  </include>

  <node
    name="spawn_p3at_sim_1"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(arg robot_file) -urdf -model p3at_sim_1 -x 0 -y 0 -z 0.1"
    output="screen"/>

  <node
    name="spawn_p3at_sim_2"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(arg robot_file) -urdf -model p3at_sim_2 -x 2 -y 2 -z 0.1"
    output="screen"/>

</launch>